*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root{
        --footer-color:#424245;
        --light-color:#fff;
        --A-color:#0066cc;
        }


 body{
font-family: Arial, Helvetica, sans-serif;
background-color: var(--light-color);
color: #333;
line-height: 1.6;  

 } 
 header{
     width: 100vw;
     /* height: 30vh; */
     display: flex;
 }
 .first-nav{
    display: flex;
    justify-content: space-between;
     width: 100%;
     height: 62px;
     background-color: black;
     top: 0px; 
     color: white;
     position: absolute;
  }  
  .space{
      padding-top: 10px;
  }

  .amazon {
	background: url('./images/sprite.png') no-repeat -10px -51px;
	width: 96px;
	height: 29px;
    margin-top: 18px;
    margin-left: 10px;
    border: 1px solid transparent;
}
.amazon:hover{
    border: 1px solid white;
    cursor: pointer;
}
/* .item{
    margin-top: 10px;
} */
.seconditem{
    width: 90px;
    display: flex;
}
/* .deliverto{
    margin-top:8px;
} */
.icon-location{
        background: url('/images/sprite.png') no-repeat -71px -379px;
        width: 15px;
        height: 17px;
        margin-top: 30px;
        margin-right: 4px;
        /* display: inline; */
    
}
.thirditem{
    width:990px;
    display: inline;
    text-align: center;
    
    
    
}
.thirditem .search2 input{
    width: 880px;
    height: 40px;
    
}
.search{
    display: inline-block;
    margin-top: 10px;
}
.search1 select{
    height:40px ;
    width: 50px;
    text-align: center;
    font-weight: bold;
}

 .search3{
   
 background-color: orange;
  /* width: 50px;
 height: 40px; */
  background: url('./images/search.png') no-repeat -196px -38px;
  z-index: 999;
  width: 25px;
  height: 40px;
  font-size: 20px;
  text-align:center;
  line-height: 1.2;
  margin-top: 20px;
  position: absolute;
  margin-left: 5px;
  
  
}
.fouritem{
    width: 60px;
    height: 40px;
    
    margin-top: 10px;
    display: flex;
}

.fouritem .flag{
    width: 24px;
	height: 18px;
    background: url('./images/flag.png') no-repeat 0px -130px;
    margin-top: 10px;
    
}
.fouritem .arrow{
    width: 14px;
	height: 9px;
    background: url('./images/search.png') no-repeat -5px -161px;
    
    z-index: 1;
    color: white;
}
.fifthitem .signin{
    font-size: 14px;
}
.fifthitem .account{
    font-size: 16px;
    font-weight: bold;
}

.sixitem .return{
    font-size: 14px;
}
.sixitem .orders{
    font-size: 16px;
    font-weight: bold;
}
.seven{
    display: inline-block;
    
}
.sevenitem{
    margin-right: 20px;
    margin-top:0px

    
}
.seven1{
color: orange;
background: url('./images/sprite.png') no-repeat -218px -337px;
width: 41px;
	height: 28px;
    /* margin-right: 10px; */
}
.seven3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
/* .seven2{
    
	
} */


  ul{
      list-style: none;
  }
  ul .menu{
        background: url('./images/sprite.png') no-repeat -172px -255px;
        width: 18px;
        height: 14px;
    
  }

   a{
      /* color: white; */
      text-decoration: none;
      padding: 0 8px;
  }
  .nav-bar{
      width: 100vw;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      background-color: #232f3e;
      color: white;
      opacity: 1;
      
      height: 45px;
      position: absolute;
      top: 60px;
  }

.nav-bar a{
    color:white;
    /* opacity: 0.7; */
    font-size: 14px;
    padding: 0 20px;
    border: 1px solid transparent;
    
}
.nav-bar a:hover{
   border: 1px white solid;
    cursor: pointer;

}
.nav-bar ul{
    display: flex;
    /* padding: 0 8px; */
    margin: 0 8px;
    font-size: 17px;
    color: #1D1D1F;


}
.mini-nav{
    background-color: #f56600;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 40px;
    margin-top: 105px;  
    opacity: 0.8;
    margin-left: 425px;
    

}
.mini-nav-baby{
    width: 100%;
    height: 40px;
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
/* .mini-nav p{
color: var(--light-color);
display: flex;
text-align: center;
}
.mini-nav p a{
    text-decoration: none;
    color: white;
}
.mini-nav p a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.mini-nav-child{
    display: flex;
} */


#main-section{
    width: 97%;
    height: 170vh;
    margin: 40px 50px;
    border: black 1px solid;
    
}
.main-grid{
    width: 100%;
    display: grid;
    border: palegoldenrod 1px solid;
    grid-template-columns: repeat(auto, 500px);
    /* grid-template-rows: repeat(2,2fr); */
    gap: 1rem;
    margin:0px 1rem;
    height: 100vh;
    /* position: relative; */
}
.gridchild{
    text-align: center;
    border: 1px solid blue;
    padding: 1rem;
    height: 120vh;
    width: 80%;
    
    position: relative;

}
.grid1{
    /* width: 100%; */
    grid-column: 1/ span 3;
    grid-row: 1/ span 2;
}
.main-left-grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    /* /* height: 100%;  */
    width: 100%;   
}
.left1{
    /* border: 1px solid red; */
    grid-column: 0/ span 2;
    grid-row: 1/ span 2;
    height: 400px;
    width: 200px;

    
    /* width: 25%;
    height: 100%; */
}
.left1 ul li{
    /* border: 0.5px black solid; */
    width: 200px;
    text-align: right;
}
   .left2{
    /* border: 1px solid red;   */
    width: 500px;
    margin-right: 180px;
    /* /* grid-column: 1/span 1; 
    /* width: 65%; */   
/* }  */
   }
   .left2 img{
       width: 500px;
       object-fit: cover;
   }
.left3{
    /* border: 1px solid red; */
    grid-column: 3/span 2;
    width: 500px;
    text-align: left;
}
.sect1{
    border-bottom: 1px solid grey;
}
.about{
    border-top: 1px solid grey;
}

.leftmini3  .bullet{
list-style: disc;
}
 .choice button{
    padding: 10px;
    text-decoration: none;
 }

 
 .grid2{
  grid-column: 4/span 1;  
  grid-row: 1 / span 4;
  text-align: left;
  border: 1px solid grey;
  width: 100%;
  /* margin:auto; */
  border-radius: 8px;
  right: 300px;
}
.grid2 .instock{
    color: #007185;
    font-weight: bold;
}
.btn-dec input, .btn-inc input{
    padding: 6px 16px;
    width: 200px;
    border-radius: 12px;
   
}
.btn-dec input{
    background: orange;
}
.btn-inc input{
    background: yellow;
}
.btn-dec, .btn-inc{
margin: 8px 0px;
}
.colorgreen{
    color: #007185;
}
.details{
    color: #007185;
}
.rightgrid .redspl{
color: red;
}

.greenspl{
    color: #007185;
}

.grid3{
    grid-column: 1 /span 3;
     grid-row: 1 / span 1; 
    
}
.grid4{
    grid-column:1/ span 3;
    grid-row: 4/ span 1;
    
    /* height: 100%; */
} 
.bougth{
    text-align: left;
    border-bottom:  1px  solid grey;
    border-top:  1px  solid grey;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 180px;
    width: 950px;
    
}
.boughtpic img{
    cursor: pointer;
}
.boughttotal span{
    color: red;

}
.boughttotal button{
    padding: 1px 6px;
    background-color: rgb(222, 230, 113);
    border-radius: 8px;
}
.boughttotal button:hover{
    cursor: pointer;
}
.bought3 span, .bought4 span, .bought5 span{
    color: red;
}
.bought1{
    color: #cc6552;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    

}

.boughtpic{
    display: flex;
    justify-content: space-between;
    
    width: 1000px;
    height: 150px;
    text-align: center;
}
.crosella{
    width:90%;
}
.crosella-mini{
    width: 85%;
    border: paleturquoise 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    
}


.crosella-mini1{
width: 170px;
height: 400px;
border:1px solid palegoldenrod;
position: relative;
margin-left: 180px;
}
.crosella-mini img{
    width: 160px;
    height: 160px;
}
.crosella-text{
    text-align: left;
    font-size: 12px;
}
.crosella-text1{
    position: absolute;
    left: 15px;
    top: 200px;
    
}
.stars1{
    background: url('./images/search.png') no-repeat -175px -369px;
	width: 79px;
	height: 15px;
    position: absolute;
    top: 270px;
    left: 15px;
}
/* .main-star{
    display: inline-block;
} */
.num1{
    position: absolute;
    top: 265px;
    left: 110px;
}
.crosella-price1{
    position: absolute;
    bottom: 75px;
    left: 15px;
}
.crosella-prime1{
    position: absolute;
    background: url('./images/prime.png') no-repeat -138px -73px;
	width: 42px;
	height: 12px;
    bottom: 80px;
    left: 75px;
}

.crosella-mini2{
    width: 170px;
    height: 400px;
    border:1px solid palegoldenrod;
    position: relative;
    margin-left: 110px;
    }
    .crosella-text2{
        position: absolute;
        left: 15px;
        top: 200px;
        
    }
    .stars2{
        background: url('./images/search.png') no-repeat -175px -369px;
        width: 79px;
        height: 15px;
        position: absolute;
        top: 270px;
        left: 15px;
    }
    
    .num2{
        position: absolute;
        top: 265px;
        left: 110px;
    }
    .crosella-price2{
        position: absolute;
        bottom: 75px;
        left: 15px;
    }
    .crosella-prime2{
        position: absolute;
        background: url('./images/prime.png') no-repeat -138px -73px;
        width: 42px;
        height: 12px;
        bottom: 80px;
        left: 75px;
    }
    .crosella-mini3{
        width: 170px;
        height: 400px;
        border:1px solid palegoldenrod;
        position: relative;
        margin-left: 110px;
        
        }
        .crosella-text3{
            position: absolute;
            left: 15px;
            top: 185px;
            
        }
        .stars3{
            background: url('./images/search.png') no-repeat -175px -369px;
            width: 79px;
            height: 15px;
            position: absolute;
            top: 270px;
            left: 15px;
        }
        
        .num3{
            position: absolute;
            top: 265px;
            left: 110px;
        }
        .crosella-price3{
            position: absolute;
            bottom: 75px;
            left: 15px;
        }
        .crosella-prime3{
            position: absolute;
            background: url('./images/prime.png') no-repeat -138px -73px;
            width: 42px;
            height: 12px;
            bottom: 80px;
            left: 75px;
        }

        .crosella-mini4{
            width: 170px;
            height: 400px;
            border:1px solid palegoldenrod;
            position: relative;
            margin-left: 110px;
            
            }
            .crosella-text4{
                position: absolute;
                left: 15px;
                top: 185px;
                
            }
            .stars4{
                background: url('./images/search.png') no-repeat -175px -369px;
                width: 79px;
                height: 15px;
                position: absolute;
                top: 270px;
                left: 15px;
            }
            
            .num4{
                position: absolute;
                top: 265px;
                left: 110px;
            }
            .crosella-price4{
                position: absolute;
                bottom: 75px;
                left: 15px;
            }
            .crosella-prime4{
                position: absolute;
                background: url('./images/prime.png') no-repeat -138px -73px;
                width: 42px;
                height: 12px;
                bottom: 80px;
                left: 75px;
            }
            .crosella-mini5{
                width: 170px;
                height: 400px;
                border:1px solid palegoldenrod;
                position: relative;
                margin-left: 110px;
                
                }
            .crosella-text5{
                    position: absolute;
                    left: 15px;
                    top: 185px;
                    
                }
            .stars5{
                    background: url('./images/search.png') no-repeat -175px -369px;
                    width: 79px;
                    height: 15px;
                    position: absolute;
                    top: 270px;
                    left: 15px;
                }
                
            .num5{
                    position: absolute;
                    top: 265px;
                    left: 110px;
                }
            .crosella-price5{
                    position: absolute;
                    bottom: 75px;
                    left: 15px;
                }
            .crosella-prime5{
                    position: absolute;
                    background: url('./images/prime.png') no-repeat -138px -73px;
                    width: 42px;
                    height: 12px;
                    bottom: 80px;
                    left: 75px;
                }
            .crosella-mini6{
                    width: 170px;
                    height: 400px;
                    border:1px solid palegoldenrod;
                    position: relative;
                    margin-left: 110px;
                    }
                    .crosella-text6{
                        position: absolute;
                        left: 15px;
                        top: 185px;
                        
                    }
                .stars6{
                        background: url('./images/search.png') no-repeat -175px -369px;
                        width: 79px;
                        height: 15px;
                        position: absolute;
                        top: 270px;
                        left: 15px;
                    }
                    
                .num6{
                        position: absolute;
                        top: 265px;
                        left: 110px;
                    }
                .crosella-price6{
                        position: absolute;
                        bottom: 75px;
                        left: 15px;
                    }
                .crosella-prime6{
                        position: absolute;
                        background: url('./images/prime.png') no-repeat -138px -73px;
                        width: 42px;
                        height: 12px;
                        bottom: 80px;
                        left: 75px;
                    }
        
    